header#top {
	background:#575d66 url("../img/bgtopo.jpg") left bottom repeat-x;
}



#participantes img {
	width: 60px;
	height: 60px;
}


#gridcourse h4 {
	background-color: #e44d26;
	height: 50px;
	font:bold 20px/50px "Myriad Pro", Myriad, Helvetica, Arial, sans-serif;
	color:rgb(255,255,255);
	text-align:center;
}
#gridcourse .css3 h4 {
	background-color: #0d79c1;
}
#gridcourse .jquery h4 {
	background-color: #22344f;
}
#gridcourse div:first-child {
	margin-left: 0;
}

div .descricao-part img{ height: 100px;
	width: 128px; 
	height: 128px;
	-webkit-transition: all 1s ease-in; 
	-moz-transition: all 1s ease-in; 
	-o-transition: all 1s ease-in;
 } 

div .descricao-part img:hover { 
	-webkit-transform: scale(2.2);

}


